# .htaccess - конфигурация сервера, получает запросы, применяется для папки, в которой находится файл (сейчас на корень проекта).
# Перенаправление, закрывать доступ адресам, кодировки по умолчанию....

RewriteEngine On
#Подключить переадресацию

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Выше: Исключения, если не файл и не дирректория, то не разрешаем переход (ниже)


RewriteRule ^(.*)$ index.php?url=$1 [QSA]
# QSA - ключ, разрешаем передавать GET параметр


